@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #0070f3;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #0070f3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
